# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Rob\NOVI\Back End\OPDRACHTEN Les 2 tm 5\Les 3 opdrachten\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
